{% extends 'flatpages/default.html' %}
{% load custom_filters %} 
 
{% block title %}
All latest news
{% endblock title %}
 
{% block content %}
<br>
<h1>All latest news</h1> 
<h5>Ammount of news: {{ post_list|length }}</h5>
<hr>
{% for post in post_list%}
    <div align="left">
        <h2>{{ post.post_header|censor:'ipsum'|censor:'sed' }}</h2>
        <h5>{{ post.post_datetime|date:"d.m.Y" }}</h5>
    <h3>{{ post.post_text|truncatewords:20|censor:'ipsum'|censor:'sed' }}</h3>
    <hr>
    </div>
{% endfor %}
{% endblock content %}

